.dashboard-page-sec {
  margin-top: 120px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 44px;
}

.usr-img-icn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.voucher {
  padding: 14px 40px;
  border: none;
  background-color: #d8dbe3;
  border-radius: 10px;
}

.dashboard-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.vendor-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

table,
td,
th {
  border: 1px solid;
  color: var(--text-color);
}

th {
  padding: 14px 14px;
}

td {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.dashboard-select {
  display: block;
}
