.dashboard-page-sec {
  margin-top: 120px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 44px;
}

.usr-img-icn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.voucher {
  padding: 14px 40px;
  border: none;
  background-color: #d8dbe3;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

.dashboard-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.vendor-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

table,
td,
th {
  /* border: 1px solid; */
  color: var(--text-color);
}

table {
  border-radius: 4px;
}

th {
  padding: 12px 12px;
  font-weight: 600;
  border-right: 1px solid lightgrey;
}

tr {
  border-bottom: 1px solid lightgrey;
}

td {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #415858;
}

.dashboard-select {
  display: block;
}